body {
    background-color: white;
}

title {
    font-size: 25px;
}

h1{
    color:black;
    text-align: center;
}

h2{
    color:white;
    text-align: center;
}

h3{
    color:white;
    text-align: center;
}


div{
    line-height: 20px;
    background-color:white;
    border-style:solid;
    text-align: justify;
    font-size: 20px;
    font-family: Times New Roman;

}

.about{
    background-color: palevioletred;
    height: 700px;
    width: 700px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-family: times new roman;
    font-size: 20px;
    color: white;
    text-align: justify;
}

.projects{
    background-color: palevioletred;
    height: 150px;
    width: 700px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-family: times new roman;
    font-size: 20px;
    color: white;
    text-align: justify;
}
.contact{
    background-color: palevioletred;
    height: 150px;
    width: 700px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-family: times new roman;
    font-size: 20px;
    color: white;
    text-align: center;
}

img src{
    border-radius: 20px;
    border-style: solid;
    border-color: green;
    position: fixed; 
    left: 50px; 
    top:50px;
}

.grabbing {cursor:grab}